*{
	box-sizing: border-box;
}
body{
	margin:0;
} 
/*head section*/
header{
	position:-webkit-sticky;
	top:0;
	position: sticky;
	overflow:hidden;
	width:100%;
	background-color: #fff;
	box-shadow:0 0.5px 3px 0 #808080;
	/*padding: 0.5em; */
	margin-bottom:1em;
	/*border:1px solid green;*/
}
.container{
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between; 
}
/*material-icons{
	margin-left: 0;
}*/
.chat-header{
	margin:0 auto;
	width:95%;
	/*border:1px solid red;*/
	align-self:center;
	align-items: center;	
}
.BOXICON {
	width: 20%;
	/*border: 1px solid blue;*/
}
.pro-name{
	width:8em;
	margin-left:1em;
	align-self: center;
	/*margin-left:-10%;*/
	/*border:1px solid hotpink;*/
}
.Search-box{
	margin-top:10%;
	margin: 0 auto;
	width:90%;
	display: flex;
	padding: 0.1em;
	margin-bottom: 5%;
	border:0.1em solid #cdcdcd;
	background-color:#fff;
	border-radius: 0.2em;
}
.container i{
	margin-left: 1%;

}
.text-box1{
	width:70%;
	/*color: #000;*/
	font-size:1em;
	margin-left: 2%;
	background-color:#fff;
	border: none;
	outline: none;
}
.box12{
	/*border: 1px solid red;*/
	display: flex;
	justify-content: space-between;
}
/*chat-section*/
.image-container{
	width: 3.5em;
	/*height: 3.5em;*/
	margin-top:0.5em;
	margin-bottom: 1em;
	border-radius: 50%;
	margin-left:1em;
	/*border: 1px solid #000;*/
}
.image{
	width: 100%;
	border-radius: 50%;
}
.chat-list{
	/*display: flex;*/
	/*margin: 0 auto;*/	
	height:4em;
	/*border: 1px solid red;*/
}
a{
	text-decoration: none;
}
.chat-name-list{
	width:90%;
	/*height:5em;*/
	/*border: 1px solid #800080;*/
	margin-left:1em;
	align-items: center;	
	align-self: center;
}
.chat-name-list i{
	padding: 1em;	
}
.Linkpage{
	text-decoration: none;
	color:black;
}
/*footer*/
footer{
		position:-webkit-sticky;
	bottom: 0;
	/*position:fixed;*/
	overflow:hidden;
	width:100%;
	background-color: #fff;
	box-shadow:0 0.5px 3px 0 #808080;
	padding: 0.5em; 
	 margin-top:5%;
}
.footer-box{
	width:8em;
	/*border: 1px solid red;*/
	margin:0 auto;
	padding: 0.5em;
}

.footer-title{
	margin-left:0.3em;
	/*border:1px solid blue;*/
	text-align: center;
}



/*account page css*/
.box_acc{
	width: 100%;
	/*height: 100%;*/
	/*border: 1px solid red;*/
	/*padding: 1em;*/
	display: none;
	bottom: 0;
	position:fixed;
}
.numacc{
	padding: 1em;
	/*border: 1px solid green;*/
	background-color: white;
  box-shadow: 0px -4px 3px #cdcdcd;
	flex-direction: column;
	border-top-right-radius:2em;
	border-top-left-radius:2em;
}
.designbox{
	padding: 0.5em;
	padding-top: 0;
	/*border: 1px solid green;*/

}
.design_sample{
	width:3em;
	height:0.4em;
	border-radius:3em;
	margin: 0 auto;
	background-color:black;
}
.img_container_profile{
	/*border: 1px solid red;*/
	width:3em;
	height:3em;
	border-radius:5em;
}
.img_container_profile_box{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.box_sec{
	align-items: center;
	/*align-self: center;*/
	/*border:2px solid pink;*/
}
.sub_box_acc{
	width:10em;
	padding:0.5em;
	/*border:0.5px solid #00f;*/
	/*align-self: center;*/
	align-items: center;
	text-align: left;
}
.radio_box_sub{
	width:2em;
	height:2em;
	/*border-radius: 50%;*/
	/*border:0.5px solid #00f;*/
  border-radius: 50%;
}
.radio_box{
	border-radius: 50%;

}
.pro_name{
	margin-left: 1em;
}
