.ChatHeader{
	position:-webkit-sticky;
	top:0;
	position: sticky;
	overflow:hidden;
	width:100%;
	background-color: #fff;
	box-shadow:0 0.5px 3px 0 #696969;
	padding: 0.2em;
	/*border: 1px solid red;	*/

}
.upperheader{
	width:98%;
	margin: 0 auto;
	/*border: 1px solid black;*/
}
.iconbox{
	width:2em;
	height:2em;
	align-self: center;
	/*align-items: center;*/
	/*border: 1px solid blue;*/
}
.ICON{
	width: 100%;
	height: 100%;
}
.block{
	width: 1.5em; 
	height: 1.5em;
	margin-top: 0.2em;
	/*border: 1px solid green;*/
}
.img_container{
	/*border: 1px solid blue;*/
	width:2.3em;
	height:2.3em;
	/*padding: 1em;*/
	/*border-radius: 50%;*/
}
.Image_profile{
	width: 100%;
	height: 100%;
	padding: 0.1em;
	border: 1px solid #868686;
	border-radius: 50%;
}
.profilename{
	margin-left: 1em;
	/*border: 1px solid #FF00FF;*/
}
.profiletext{
	margin-left:0.5em;
	align-self: center;
}
.ICON_BOX{
	width:20%;
	/*border: 1px solid red;*/
}
.inputtypewriter{
	background-color: #868686;
	border-radius: 4em;
}
.typewriter{
	bottom: 0;
	position:-webkit-sticky;
	position:fixed;
	width: 100%;
	/*border: 1px solid red;*/
}
.box1{
	width:22%;
	align-self:center;
	margin-right:1em;
	/*border: 1px solid blue;*/
}
.cambox{
	background-color: yellow;
	border-radius: 50%;
	padding: 0.3em;
	margin-left: 0.3em;
	filter: invert(100%);
}
/*.fa-camera{filter: invert(100);}*/
.box2{
	display: flex;	
	width:70%;
	padding: 0.2em;
	/*border: 1px solid #868686;*/
}
.inputbox{
	width:100%;
	background-color: #868686;	
	outline: none;
	border: none;
	font-size: 1.2em;
	margin-left: 0.3em;
}
.box5{
	/*border: 1px solid #F70D1A;*/
	display: flex;
	/*justify-content: space-between;*/
}
.chatcode{
	display: none;
}