	*{
	box-sizing: border-box;
}
body{
	margin:0;
}
/*head section*/
header{
	position:-webkit-sticky;
	top:0;
	position: sticky;
	overflow:hidden;
	width:100%;
	background-color: #fff;
	box-shadow:0 0.5px 3px 0 #808080;
	padding: 0.5em; 
	margin-bottom:1.2%;
} 
.container{
	width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.image-container{
	width:2.5em;
	height:2.5em;
	/*border: 1px solid blue;*/
}
.follower-request{
	width: 100%;
	border-radius: 50%;
}
.text{
	display: block;
	/*border:1px solid red; */
}
.follow-request{
	/*border: 1px solid green;*/
	width:55%;
	margin-left: 1em;
}
.Activity{
	margin-top: 1em;
	margin-bottom:0.5em;	
}
.like-side{
	/*border: 1px solid red;*/
	margin-bottom:1em;
	width:94%;
}
.image-box{
	width: 100%;
}
.span-box{
	width:75%;
	/*border: 1px solid #1e34f2;	*/
}
footer{
	bottom: 0;	
	position: sticky;
	overflow:hidden;
	width:100%;
	background-color:#f5f5f5;
	box-shadow: inset 0 1px 2px 0 #696969;
	padding: 0.5em;
}
.footer-icons{
	display: flex;
		justify-content: space-around;
}
/*.fa-bookmark-o{
	align-self: flex-end;
}		
.fa-ellipsis-v{
	font-size:1.2rem;
	align-self: center;
}*/